<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notifications</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
      }
      header {
        background-color: #933393;
        color: #fff;
        padding: 15px 0;
        text-align: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
      main {
        margin: 20px;
      }
      h2 {
        margin-bottom: 10px;
        color: #933393;
      }
      ul {
        list-style-type: none;
        padding: 0;
      }
      li {
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 20px;
      }
      li b {
        color: #333;
        font-size: 20px;
        margin-bottom: 5px;
        display: block;
      }
      li p {
        color: #666;
        margin: 10px 0;
        line-height: 1.6;
      }
      li span {
        color: #999;
        font-size: 12px;
      }
      footer {
        text-align: center;
        margin-top: 20px;
        color: #777;
      }
      footer p {
        font-size: 14px;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Notifications</h1>
    </header>
    <main>
      <h2>Notification List</h2>
      <ul id="notification-list">
        <% notifications.forEach(notification => { %>
        <li>
          <b><%= notification.title %></b>
          <p><%= notification.message %></p>
          <span><%= notification.createdDate %></span>
        </li>
        <% }) %>
      </ul>
      <footer>
        <p>&copy; 2024 Adam Wisnu Pradana. All rights reserved.</p>
      </footer>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();
      const notifications = document.getElementById("notification-list");
      const user_id = `<%= user_id %>`;

      socket.on(`user-${user_id}`, (notification) => {
        const item = document.createElement("li");
        item.innerHTML = `
        <b>${notification.title}</b>
        <p>${notification.message}</p>
        <span>${notification.createdDate}</span>
      `;
        notifications.insertBefore(item, notifications.firstChild); // Insert new notifications at the top
      });
    </script>
  </body>
</html>
